configuration {
    modi: "drun";
    show-icons: true;

    drun-display-format: "{name}";

    font: "Inter 12";

    display-drun: "";

    matching: "normal";

    sort: false;
    calc {
        hint-result: "= ";
        hint-welcome: "";
    }
}

@theme "~/.config/rofi/zlaunch.rasi"
