[Desktop Entry]
Name=PyCharm 2025.3.1.1
Exec="/home/harry/.local/share/JetBrains/Toolbox/apps/pycharm/bin/pycharm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/harry/.local/share/JetBrains/Toolbox/dotDesktopIcons/jetbrains-pycharm-a0768a54-2714-4e5c-b5bc-559d485dda50.desktop.icon.svg
Comment=The Only Python IDE you need
StartupWMClass=jetbrains-pycharm
StartupNotify=true
