[Desktop Entry]
Name=IntelliJ IDEA Ultimate 2025.2.5
Exec="/home/harry/.local/share/JetBrains/Toolbox/apps/intellij-idea-ultimate-2/bin/idea" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/harry/.local/share/JetBrains/Toolbox/dotDesktopIcons/jetbrains-idea-063c45a2-d34a-4b43-88a0-96efc14f98b2.desktop.icon.svg
Comment=The IDE for pro Java and Kotlin development
StartupWMClass=jetbrains-idea
StartupNotify=true
